# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
.venv/
temp.db
backend/alembic.ini

# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# OS
.DS_Store
Thumbs.db
